.about {
   background: #0f1221;
   &__body {
      @include adaptiveValue("padding-top", 50, 20);
      @include adaptiveValue("padding-bottom", 50, 20);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(400), rem(735)) minmax(rem(400), 1fr));
      @media (max-width: $tablet) {
         grid-template-columns: 1fr;
      }
   }
   &__info {
      position: relative;
      @include adaptiveValue("padding-top", 50, 20);
      &::before {
         content: "";
         width: rem(200);
         height: rem(20);
         position: absolute;
         background: #5e3aee;
         top: 0;
         left: 0;
         @media (max-width: $mobile) {
            width: rem(100);
            height: rem(10);
         }
      }
   }

   &__title {
      font-weight: bold;
      font-style: normal;
      color: #fff;
      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }

   &__text {
      font-style: normal;
      font-weight: 500;
      max-width: rem(700);
      @include adaptiveValue("font-size", 24, 16);
      line-height: math.div(36, 24);
      color: #ffffff;
      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }

   &__link {
      font-style: normal;
      font-weight: bold;
      @include adaptiveValue("font-size", 29, 20);
      line-height: math.div(43, 29);
      color: #5e3aee;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
            transition: all 0.3s ease 0s;
            color: #fff;
         }
      }
   }
   // .about__images

   &__images {
      padding: rem(20) rem(0) rem(0) rem(10);
   }

   // .about__image-ibg

   &__image-ibg {
      position: relative;
      padding: rem(0) rem(0) 50% rem(0);
      & img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: contain;
      }
   }
}
