.hellow {
   &__content {
      position: relative;
      display: grid;
      min-height: 100%;
      background: #f0f0f5;
      grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
      @include adaptiveValue("padding-top", 60, 0);
      @include adaptiveValue("padding-bottom", 60, 10);
      @media (max-width: $mobile) {
         grid-template-columns: 1fr;
      }
   }
   &__body {
      min-height: 100%;
      padding: 15% rem(0) rem(10) 15%;
      @media (max-width: $tablet) {
         padding: 15% rem(0) rem(10) 8%;
      }
      @media (max-width: $mobile) {
         padding: 10% rem(0) rem(10) rem(30);
      }
      @media (max-width: $mobileSmall) {
         padding: 10% rem(0) rem(10) rem(10);
      }
   }

   &__title {
      font-style: normal;
      font-weight: bold;
   }

   &__subtitle {
      font-style: normal;
      font-weight: bold;
      @include adaptiveValue("font-size", 49, 24);
      line-height: math.div(57, 49);
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
      & span {
         margin: rem(0) rem(0) rem(0) rem(5);
         color: #5e3aee;
      }
   }

   &__text {
      &:not(:last-child) {
         margin-bottom: em(50, 29);
      }
      font-style: normal;
      font-weight: 600;
      @include adaptiveValue("font-size", 29, 20);
      line-height: math.div(43, 29);
      color: #696969;
   }
   &__buttons {
      display: flex;
      gap: rem(20);
      @media (max-width: $mobileSmall) {
         flex-direction: column;
         align-items: center;
      }
   }
   &__btn {
      font-style: normal;
      font-weight: 600;
      font-size: rem(19);
      line-height: math.div(28, 19);
      padding: 10px 53px;
      background: #fff;
      box-shadow: -5px 5px 5px #bfb8b8;
      border-radius: 3px;
      text-align: center;
      @media (max-width: rem(830)) {
         padding: 7px 40px;
      }
      @media (max-width: $mobileSmall) {
         padding: 5px 40px;
      }
      @media (any-hover: hover) {
         &:hover {
            transition: all 0.3s ease 0s;
            background: #5e3aee;
            color: #fff;
         }
      }
   }
   &__images {
      @include adaptiveValue("padding-top", 70, 0, 1200, 500, 1);
      @include adaptiveValue("padding-right", 85, 20, 1200, 900, 1);
      padding: rem(0) rem(0) rem(0) rem(20);
   }

   // .hellow__image-ibg

   &__image-ibg {
      position: relative;
      padding: rem(0) rem(0) 87% rem(0);
      @media (max-width: rem(815)) {
         padding: rem(0) rem(0) 50% rem(0);
      }
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: contain;
      }
   }
}
