.skils {
   height: auto;
   &__body {
      padding: rem(40) rem(0) rem(100) rem(0);
      @media (max-width: $mobile) {
         padding: rem(20) rem(0) rem(20) rem(0);
      }
   }

   &__title {
      color: #5e3aee;
      &:not(:last-child) {
         margin-bottom: em(35, 49);
      }
   }

   &__column {
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
   }

   &__text {
      flex: 0 1 20%;
      font-style: normal;
      font-weight: Regular;
      @include adaptiveValue("font-size", 24, 18);
      line-height: math.div(36, 24);
      &:not(:last-child) {
         margin-bottom: em(30, 24);
      }
      @media (max-width: $mobile) {
         flex: 1 1 40%;
      }
   }
}
