.statistic {
   max-height: 100%;

   &__body {
      position: relative;
      display: grid;
      gap: rem(20);
      grid-template-columns: repeat(auto-fit, minmax(rem(160), 1fr));
      justify-content: space-between;
      padding: rem(100) rem(0);
      @media (max-width: $mobile) {
         grid-template-columns: repeat(auto-fit, minmax(rem(150), 1fr) minmax(rem(150), 1fr));
         gap: rem(10);
         padding: rem(60) rem(0);
      }
      &::before,
      &::after {
         content: "";
         width: 100%;
         height: rem(3);
         background-color: #f0f0f5;
         position: absolute;
      }
      &::before {
         top: rem(50);
         @media (max-width: $mobile) {
            top: rem(30);
         }
      }
      &::after {
         bottom: rem(50);
         @media (max-width: $mobile) {
            bottom: rem(30);
         }
      }
   }
   &__items {
   }
   &__line {
      display: block;
      height: 3px;
      min-width: 100%;
      background: #f0f0f5;
      margin: 100px 0px;
      @media (max-width: $tablet) {
         margin: 60px 0px;
      }
      @media (max-width: $mobile) {
         margin: 40px 0px;
      }
      @media (max-width: $mobileSmall) {
         margin: 15px 0px;
      }
   }
   &__card {
      text-align: center;
      margin: 0 auto;
      padding: 10px;
      max-width: rem(180);
   }
   &__number {
      font-family: "Poppins";
      font-style: normal;
      font-weight: bold;
      @include adaptiveValue("font-size", 49, 30);
      line-height: math.div(57, 49);
   }

   &__text {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      @include adaptiveValue("font-size", 18, 14);
      line-height: math.div(57, 18);
      color: #bfb8b8;
   }
}
